* {
  box-sizing: border-box;
}

/* Add a beige background color with some padding */
body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  background: #fbf7f5;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.lessons .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 97%;
  background-color: #ddd;
}

.lessons .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.lessons .container {
  padding: 2px 16px;
}

.lessons {
  width: 100%;
  margin-top: 40px;
  margin-left: 20px;
}

.lessons a {
  display: inline-block;
  padding: 14px 16px;
  color: #333;
  text-decoration: none;
  font-size: 20px;
}

#navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

#navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #04AA6D;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
   padding: 20px;
   margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }

  #navbar a {
    font-size: 12px;
  }

  .lessons a {
    font-size: 14px;
  }

  .lessons .card {
    width: 94%;
  }
}